
a, a:visited
{
	text-decoration: none;
	color: #469986;
}
article
{
	display: inline-block;
	margin: 1em 0;
	width:100%;
}
article #imagen,
article #texto
{
	float: left;
	margin-right: 1em;
	
}
article #imagen
{
	margin-top: 1em;
	/*max-width: 35%;*/
	max-height: 150px;
	overflow: hidden;
}
article #texto
{
	width: 65%;
}
aside
{
	display: inline-block;
	max-width: 33%;
	vertical-align: top;
}
aside article #imagen
{
	margin-top: -1em;
	margin-bottom: 1em;
	width: 90%;
}
body
{
	background-color: #A2A899;
	font-size: 100%;
	font-family: Verdana, Arial;
	margin: 0;
}
footer
{
	border-top: #aaa thin solid;
	height: 4em;
	text-align: center;
}
footer a:hover
{
	color:#666;
}
h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
	color: #A12C23;
}
header
{
	background-color: #262522;
	background:url(../img/pqbg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 0; 
	padding: 2em;
}
header h1 , header h5
{
	color: #FFFFFF;
}
html {
   -webkit-text-size-adjust: none;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}
nav
{
	background-color: #262522;
}

nav ul
{
	box-shadow: #000000 0 0 1em inset;
	list-style: none;
	margin: 0;
	padding: 1em .4em;

}
nav ul li
{
	display: inline-block;
}
nav ul li a,
nav ul li a:visited
{
	color: #fff;
	margin: 0 0 0 -.4em;
	padding: 1em;
}
nav ul li a:hover
{
	background-color: #111;
}
p, li 
{
	text-align: justify;
}
img.brand-logo
{
	float: left;
	max-height: 125px;
	margin-right: 1em;
}
footer p
{
	margin-left: 1em;
}
section
{
	border-bottom: #bbb thin solid;
	margin: 2em;
}
.actual, .actual:hover, a.actual
{
	background-color: #C9992A;
	color: #262522;
	font-weight: bold;
	
}

.contenedor-prin
{
	background-color: #FFFFFF;
	box-shadow: #000 0 0 1em;
	color: #262522;
	margin: 0 auto;
	width:80%;
}

.contenedor-centro
{
	display: inline-block;
	max-width: 66%;
}
.contenedor-centro article #imagen
{
	max-width: 35%;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}

@media only screen and (max-width: 920px){
	.contenedor-prin
	{
		min-width: 100%;
	}
	
}

@media only screen and (max-width: 640px){
	aside,
	.contenedor-centro
	{
		min-width: 100%;
	}
	
	header
	{
		background-position: 0;
	}

	nav ul li
	{
		margin: 1em;
	}
}
@media only screen and (max-width: 420px){

	header
	{
		background-size:auto;
		background-position: -300px;
		background-size:none;
		margin: 0 auto;
	}
	nav ul
	{
		margin: 0 auto;
		text-align: center;
		padding: 0;

	}

}
